body {
  background-color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
h1 {
  color:antiquewhite;
}
h2{
    color: antiquewhite;
}
h3{
    color: antiquewhite;
}
h4{
    color: antiquewhite;
}
p {
  color:antiquewhite;

  font-size: large;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
